@{
    ViewBag.Title = "Airline Management System";
}


 
<div class="jumbotron" style="background-image:url(../../Content/Images/airplane.jpg); background-repeat:no-repeat; background-size: 100% 100%;">
    <h1 style="color:white;">Airline Management System</h1>
    <p class="lead" style="color:white;">Airline Management System dolor sit amet, consectetur adipiscing elit. Nam ut pulvinar libero, ac varius nulla. Suspendisse a molestie massa. Donec dapibus dolor et porttitor egestas. </p>
    <p>@Html.ActionLink("Make Reservation","Index", "Reservations", null,new { @class = "btn btn-success btn-lg" })</p>
</div>
 <div style="border:solid;">
     @{
         Html.RenderAction("_Arrivals", "Flights");
         Html.RenderAction("_Departures", "Flights");
     }
 </div>

<hr />
<div class="row">
    <div class="col-md-4">
        <h2>Information</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ut pulvinar libero, ac varius nulla. Suspendisse a molestie massa. Donec dapibus dolor et porttitor egestas. 
        </p>
        <p><a class="btn btn-info" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Gallery</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ut pulvinar libero, ac varius nulla. Suspendisse a molestie massa. Donec dapibus dolor et porttitor egestas.</p>
        <p><a class="btn btn-info" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>News</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ut pulvinar libero, ac varius nulla. Suspendisse a molestie massa. Donec dapibus dolor et porttitor egestas. </p>
        <p><a class="btn btn-info" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>
 
